<div class="bg-dark">
    <footer class="container py-3 text-light">
        <div class="row">
            <div class="col-md-6">
                <h3>X-brewing</h3>
                <p>
                    Beers with an X
                </p>
            </div>
            <div class="col-md-3">
                <h3>Our beers</h3>
                <p>Soon...</p>
            </div>
            <div class="col-md-3">
                <h3>Social</h3>
                {% if site.facebook_url %}
                    <a href="{{ site.facebook_url }}" class="p-2 text-light d-block">
                        <i class="fab fa-facebook"></i> facebook
                    </a>
                {% endif %}
                {% if site.twitter_url %}
                    <a href="{{ site.twitter_url }}" class="p-2 text-light d-block">
                        <i class="fab fa-twitter"></i> twitter
                    </a>
                {% endif %}
                {% if site.github_url %}
                    <a href="{{ site.github_url }}" class="p-2 text-light d-block">
                        <i class="fab fa-github"></i> github
                    </a>
                {% endif %}
            </div>
        </div>
    </footer>
</div>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.11';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
{% if site.google_analytics %}
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
          m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
{% endif %}

<div class="switch-theme">
    <a href="#" class="js-switch-theme d-none theme-dark-only switch-theme-icon" data-theme="light">
        {% include sun.svg %}
    </a>
    <a href="#" class="js-switch-theme d-none theme-light-only switch-theme-icon" data-theme="dark">
        {% include moon.svg %}
    </a>
</div>

<script src="{{ "/build/theme.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/build/app.js" | prepend: site.baseurl }}" async></script>
