<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <div class="navbar-nav"></div>
        <div class="navbar-nav">
            {% if site.facebook_url %}
                <a href="{{ site.facebook_url }}" class="p-2 text-light">
                    <i class="fab fa-facebook"></i>
                </a>
            {% endif %}
            {% if site.twitter_url %}
                <a href="{{ site.twitter_url }}" class="p-2 text-light">
                    <i class="fab fa-twitter"></i>
                </a>
            {% endif %}
            {% if site.github_url %}
                <a href="{{ site.github_url }}" class="p-2 text-light">
                    <i class="fab fa-github"></i>
                </a>
            {% endif %}
        </div>
    </div>
</nav>
