---
layout: default
title: X brewing
order: 0
---

<div class="container py-3 bounce">
    <img src="{{ "/img/logo-white.png" | prepend: site.baseurl }}" alt="X brewing logo" class="img-fluid pulse">
</div>

<div class="container py-3 text-center">
    <div class="row">
        {% for item in site.beers %}
            <a href="{{ item.url }}" class="col-4 picture my-3 rounded">
                <img src="{{ item.image | prepend: site.baseurl }}" alt="{{ item.title }}" class="img-fluid rounded">
                <div class="picture-inner">
                    <div class="picture-text">
                        <h3 class="picture-title">{{ item.title }}</h3>
                        <p class="picture-body">{{ item.intro }}</p>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
<div class="container py-3 text-center">
    <div class="fb-page" data-href="https://www.facebook.com/X-brewing-169771763610772" data-tabs="timeline" data-width="475" data-height="800" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        <blockquote cite="https://www.facebook.com/X-brewing-169771763610772" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/X-brewing-169771763610772/posts" class="btn btn-outline-primary">
                <i class="fab fa-facebook"></i> Check out X-brewing on facebook
            </a>
        </blockquote>
    </div>
</div>

<div class="container">
    <h3>Onder andere hier verkrijgbaar</h3>
</div>
<div class="map" id="map"></div>
<div class="d-none">
    {% for location in site.locations %}
        <div class="map-item" data-lat="{{ location.lat }}" data-lng="{{ location.lng }}">
            <h6>{{ location.title }}</h6>
            <div>{{ location.intro }}</div>
            {% if location.href %}
                <a href="{{ location.href }}" target="_blank">Bekijk locatie</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
