<nav class="navbar navbar-expand-md navbar-dark bg-black">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' | prepend: site.baseurl }}">
            <img src="{{ "/img/x-brewing.jpg" | prepend: site.baseurl }}" alt="{{ site.title }}">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbar-menu" aria-controls="navbar-menu" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="navbar-nav mr-auto">
                {% assign sorted_pages = site.pages | sort:"order" %}
                {% for my_page in sorted_pages %}
                    {% if my_page.title %}
                        <li class="nav-item{% if my_page.url == page.url %} active{% endif %}">
                            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="d-flex">
                {% if site.bandcamp_url %}
                    <a href="{{ site.bandcamp_url }}" class="p-2 text-white">
                        <i class="fab fa-bandcamp"></i>
                    </a>
                {% endif %}
                {% if site.facebook_url %}
                    <a href="{{ site.facebook_url }}" class="p-2 text-white">
                        <i class="fab fa-facebook"></i>
                    </a>
                {% endif %}
                {% if site.twitter_url %}
                    <a href="{{ site.twitter_url }}" class="p-2 text-white">
                        <i class="fab fa-twitter"></i>
                    </a>
                {% endif %}
                {% if site.github_url %}
                    <a href="{{ site.github_url }}" class="p-2 text-white">
                        <i class="fab fa-github"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
