$theme-transition: 0.6s;
$theme-list: () !default;
$theme-list: map-merge(
    (
      'dark': (
        'bg-color': #181717,
        'dark': #f8f9fa,
        'light': #000,
        'text-color': $gray-200,
        'hover-color': $gray-400,
        'toggler-icon': $navbar-dark-toggler-icon-bg,
      ),
      'light': (
        'bg-color': #fff,
        'dark': #000,
        'light': #f8f9fa,
        'text-color': $gray-800,
        'hover-color': $gray-600,
        'toggler-icon': $navbar-light-toggler-icon-bg,
      )
    ),
    $theme-list
);

@each $theme-name, $theme-map in $theme-list {
  .theme-#{$theme-name} {
    transition: background-color $theme-transition, color $theme-transition;
    background: map-get($theme-map, 'bg-color');
    color: map-get($theme-map, 'text-color');

    .navbar-light {
      .navbar-toggler {
        border-color: map-get($theme-map, 'hover-color');
        .navbar-toggler-icon {
          background-image: map-get($theme-map, 'toggler-icon');
        }
      }
      .navbar-brand {
        color: map-get($theme-map, 'text-color');
      }
      .navbar-nav {
        .nav-link {
          color: map-get($theme-map, 'text-color');
          &:hover,
          &:active {
            color: map-get($theme-map, 'hover-color');
          }
        }

        .active {
          .nav-link {
            color: map-get($theme-map, 'hover-color');
          }
        }
      }
    }

    .bg-light,
    .bg-dark {
      transition: background-color $theme-transition;
    }

    .text-light,
    .text-dark {
      transition: background-color $theme-transition;
    }

    .theme-#{$theme-name}-only {
      display: block !important;
    }

    .bg-dark {
      background-color: map-get($theme-map, 'dark') !important;
    }

    .bg-light {
      background-color: map-get($theme-map, 'light') !important;
    }

    .text-dark {
      color: map-get($theme-map, 'dark') !important;
    }

    .text-light {
      color: map-get($theme-map, 'light') !important;
    }

    .card {
      background-color: map-get($theme-map, 'light');
    }
  }
}

.switch-theme {
  position: fixed;
  right: 20px;
  bottom: 20px;
  &-icon {
    width: 40px;
    height: 40px;
  }
}
