$body-bg: #000000;
$body-color: $gray-200;
//$card-bg: lighten($black, 8%);
$dark: #000000;
$fa-font-path: "~@fortawesome/fontawesome-free/webfonts/";
$font-size-base: 1.2rem;
$lead-font-size: ($font-size-base * 1.25);
$hr-border-color: $gray-900;

$theme-colors: (
  'primary': #faaa53,
  'coffee-in-the-morning': #caa684,
  'fruity-madness': #f0c721,
  'two-big-friends': #599071,
);

